.container-top {
    background-color: white;
    margin-block: 25px;
    width: 100%;
    transform: skewY(5deg);
}

.container-bottom {
    position: absolute;
    z-index: -1;
    bottom: -170px;
    background-color: white;
    height: 500px;
    width: 100%;
    transform: skewY(-10deg);
}

.body-button {
    background: white;
    border: 1px solid #707070;
    border-radius: 4px;
    padding-block: 1rem;
    padding-inline: 3rem;
    height: 40px;
    color: #888;
    cursor: pointer;   
}

/** NAVIGATOR */

.nav-wrapper {
    margin-top: 2.5rem;
    justify-content: center;
    gap: 3rem;
    
}

.nav-wrapper > * {
    color: #888;
}

.nav-btn {
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    height: 40px;
    width: 160px;
    cursor: pointer;
}

/** SECTION SEPARATOR */

.section-separator {
    margin-block: 5rem;
    justify-content: center;
    height: 2.5rem;
}

.section-separator h3 {
    min-width: fit-content;
}

.section-separator::before {
    content: "";
    display: inline-flex;
    flex-wrap: nowrap;
    top: 2.75rem;
    margin-right: 2rem;
    position: relative;
    height: 1px;
    width: 100%;
    background: #888;
}

.section-separator::after {
    content: "";
    display: inline-flex;
    flex-wrap: nowrap;
    top: 2.75rem;
    margin-left: 2rem;
    position: relative;
    height: 1px;
    width: 100%;
    background: #888;
}

/** SHOP ITEM */

.shop-item {
    margin-bottom: 3.25rem;
    max-width: 201px;
}

.shop-item > div > * {
    margin-top: 0;
    margin-bottom: .75rem;
}

.shop-item img {
    width: 200px;
    height: 150px;
    outline: 1px solid #707070;
    margin-bottom: 1.5rem;
}

.shop-item > div > button {
    height: 30px;
    width: 100%;
    padding-block: .5rem;
}

/* ------------------------------ */

.btn-load-more {
    margin-inline: auto;
    margin-bottom: 10.75rem;
}

@media (max-width: 420px) {
    .container-top {
        transform: skewY(17.5deg);
    }
    
    .container-bottom {
        bottom: -120px;
        background-color: white;
        transform: skewY(-22.5deg);
    }
    
    .nav-wrapper {
        z-index: 1000;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .section-separator {
        margin-bottom: 3rem;
    }

    .section-separator::before {
        margin-left: -1rem;
        margin-right: .5rem;
    }
    
    .section-separator::after {
        margin-right: -1rem;
        margin-left: .5rem;
    }

    .shop-item {
        width: 100%;
        max-width: 100%;
        flex-direction: row;
    }

    .shop-item img {
        margin-block: 0;
        width: 169px;
        height: 129px;
    }

    .shop-item > div {
        width: 200px;
        padding-left: 2rem;
        justify-content: space-between;
    }

    .shop-item .item-description {
        display: none;
    }
    
    .shop-item > div > button {
        margin-bottom: 0;
        width: 100%;
    }

    .btn-load-more {
        margin-bottom: 4rem;
    }
}